/* GENERAL */

body { 
	padding-top: 50px; 
}

nav.navbar.navbar-default{
	margin-bottom: 0;
}

.color-black{
	background: black;
}

.color-gray{
	background: #1C1C1C;
}

.color-ces{
	background-color: #2E9AFE;
}

.color-red{
	background-color: red;
}

.color-white{
	background-color: white;
}

.element-center{
	text-align: center;
}

img.element-center{
	display: block;
    margin-left: auto;
    margin-right: auto
}

/* CV PAGE */

.perc-img{
	width: 60%;
}

/* GAMING PAGE */

.game-text{
	color: red; 
}

.game-text-alt{
	color: white; 
}

.parallax-div{
	height: 250px;
}

/* MAIN PAGE */

.clean-container{
	padding: 0;
}

.section-container{
	padding-top: 20px;
	padding-bottom: 20px;
}

#footer{
	text-align: center;
	background-color: #F2F2F2;
}
/* BOOTSTRAP TIPS STYLES */


/* Sidebar Toggle */
#sidebar-wrapper{
	z-index: 1;
	position: absolute;
	width: 0;
	height: 100%;
	overflow-y: hidden;
	background: #16cb3f;
	border: 1px solid red;
	opacity: 0.9; 
}

#page-content-wrapper{
	width: 100%;
	position: absolute;
	padding: 15px;
	border: 1px solid green;
}

#wrapper.menuDisplayed #sidebar-wrapper{
	width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper{
	padding-left: 265px;
}

.sidebar-nav{
	padding: 0;
	list-style: none;
}

.sidebar-nav li{
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a{
	display: block;
	text-decoration: none;
	color: #ddd;
}

.sidebar-nav li a:hover{
	background: #15ab2e;
}