{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style type="text/css">
	body{
		background: url('{% static 'img/parralax-cv.jpg' %}') no-repeat center center fixed;
		background-size: cover;

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
</style>
	
<div class="container-fluid section-container color-white">

	<h2 class="element-center">App & web Developer</h2>	
	<div class="col-md-8 col-md-offset-2">

	<img src="{% static 'img/porc.png' %}" class="img-responsive element-center">
</div>
</div>

<div class="container-fluid color-ces section-container">

	<div class='col-sm-8'>
		<blockquote>
			<p>Workstation</p>
			<footer class="game-text-alt">Macbook Air 13" 2010</footer>
			<footer class="game-text-alt">Core 2 Duo @ 1.86Ghz</footer>
			<footer class="game-text-alt">Nvidia Geforce 320m 256mb </footer>
			<footer class="game-text-alt">SSD 128GB</footer>
			<footer class="game-text-alt">RAM 2GB DDR3 1066MHz</footer>
			<footer class="game-text-alt">1440x900</footer>
		</blockquote>
	</div>

	<div class='col-sm-4'>
		<img src="{% static 'img/laptop-icon.png' %}" class="img-responsive" width="220" height="220">
	</div>

</div>

<div class="container-fluid parallax-div"></div>

<div class="container-fluid section-container color-white">

	<h2 class="element-center">Skills</h2>	

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/ruby-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>Ruby</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/rails-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>Rails</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/html-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>HTML</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/css-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>CSS</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/js-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>JS</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/bootstrap-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>Boostrap</p>
	</div>
	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/python-icon.ico' %}" class="img-responsive element-center" width="50" height="50">
		<p>Python</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/django-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>Django</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/java-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>Java</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/json-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>JSON</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/php-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>PHP</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/android-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>Android</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/rest2-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>RESTful API</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/http-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>HTTP Methods</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/oauth-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>Oauth</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/QR-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>QR codes</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/opencv-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>OpenCV</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/unity-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>Unity 3D</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/libgdx-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>Libgdx</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/rstudio-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>R Studio</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/x86-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>Assembly x86</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/prolog-icon.jpg' %}" class="img-responsive element-center" width="50" height="50">
		<p>Prolog</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/postgres-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>PostgreSQL</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/sqlite2-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>SQLite</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/mysql2-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>MySQL</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/blender-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>Blender</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/mudbox-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>Mudbox</p>
	</div>

	<div class="well col-xs-6 col-sm-3 col-md-2 element-center">
		<img src="{% static 'img/git-icon.png' %}" class="img-responsive element-center" width="50" height="50">
		<p>Git</p>
	</div>
		
</div>

<div class="container-fluid section-container element-center color-ces" >

	<p class="element-center">Mas información descarga mi CV</p>	
	<a href="http://www.mediafire.com/view/6tv4xc72jww23g1/cv.pdf" >"PUSH ME"</a>	

</div>

{% endblock %}