{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid section-container color-ces">

	<div class='col-sm-4'>
		<img src="{% static 'img/me.png' %}" class='img-responsive img-circle' width="220" height="220">
	</div>

	<div class='col-sm-8'>
		<blockquote>
			<p>Si no es complicado no es divertido.</p>
			<footer class="game-text-alt">Dicho por mi a las 3am terminado proyecto compiladores</footer>
		</blockquote>
	</div>

</div>

<div class="container-fluid section-container">
	<div class="well col-xs-12">Nombre: Juan Pablo Ortiz Portillo</div>
	<div class="well col-xs-12">Edad:  25</div>
	<div class="well col-xs-12">Profesion: Web & App Designer.</div>
	<div class="well col-xs-12">Deporte: Corredor 21KM , Spinning & Gym</div>
	<div class="well col-xs-12">Youtube Channel: <a href="https://www.youtube.com/channel/UCwtcJ8rFYlI0cjPJvSnjDuQ/videos">Press Me :)</a></div>
	<div class="well col-xs-12">LinkendIn Profile: <a href="https://www.linkedin.com/pub/juan-ortiz/49/a5/63b">Press Me :)</a></div>
	<div class="well col-xs-12">email: <a href="jpblo19@hotmail.com">jpblo19@hotmail.com</a> , <a href="jpblo199@gmail.com">jpblo199@gmail.com</a></div>
</div>

{% endblock %}