{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid section-container color-ces">

	<div class='col-sm-4'>
		<img src="{% static 'img/me.png' %}" class='img-responsive img-circle' width="220" height="220">
	</div>

	<div class='col-sm-8'>
		<blockquote>
			<p>Si no es complicado no es divertido.</p>
			<footer class="game-text-alt">Dicho por mi a las 3am terminado proyecto compiladores</footer>
		</blockquote>
	</div>

</div>

<div class="container-fluid section-container">
	<div class="well">
		<div class="row">
			<div class='col-md-1'>
				<img src="{% static 'img/profile-icon.png' %}" class='img-responsive'>
			</div>
			<div class='col-md-11'>
				<blockquote>
					<p>Perfil</p>
					<footer>Nombre: Juan Pablo Ortiz Portillo</footer>
					<footer>Edad:  25</footer>
					<footer>Profesion: Web & App Designer.</footer>
					<footer>Deporte: Corredor 21KM , Spinning & Gym</footer>
				</blockquote>
			</div>
		</div>
	</div>
	<div class="well">
		<div class="row">
			<div class='col-sm-1'>
				<img src="{% static 'img/youtube-icon.png' %}" class='img-responsive' width="50" height="50">
			</div>
			<div class='col-sm-11'>
				Youtube Channel: <a href="https://www.youtube.com/channel/UCwtcJ8rFYlI0cjPJvSnjDuQ/videos">Press Me :)</a>
			</div>
		</div>
	</div>
	<div class="well">
		<div class="row">
			<div class='col-sm-1'>
				<img src="{% static 'img/linkedin-icon.ico' %}" class='img-responsive' width="50" height="50">
			</div>
			<div class='col-sm-11'>
				LinkendIn Profile: <a href="https://www.linkedin.com/pub/juan-ortiz/49/a5/63b">Press Me :)</a>
			</div>
		</div>
	</div>
	<div class="well">
		<div class="row">
			<div class='col-sm-1'>
				<img src="{% static 'img/mail-icon.png' %}" class='img-responsive' width="50" height="50">
			</div>
			<div class='col-sm-11'>
				<a href="jpblo19@hotmail.com">jpblo19@hotmail.com</a> , <a href="jpblo199@gmail.com">jpblo199@gmail.com</a></div>
			</div>
		</div>
	</div>

</div>

{% endblock %}